*.suo
**/obj/
**/bin/
**/Deploy/
*.user
**/*/.vs

# Ignore the DeckLink SDK dir
bm.decklink/Blackmagic_DeckLink_SDK_*/

# Ignore the release folder
bm.decklink/Release/

# Ignore dlls and debug objects
*.dll
*.pdb